@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header {
  height: 60px;
  .row {
    margin: 0;
    padding: 0;
  }
  @include centerItem();
  .navbar {
    &__logo {
      cursor: pointer;
      .logo--img {
        width: 90px;
        height: 45px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-evenly;
      padding: 0 12px;
    }
    &__link {
      font-size: 15px;
      text-transform: uppercase;
      @include centerItem();
      flex-basis: 18%;
      cursor: pointer;
    }
    &__link:hover {
      border-bottom: 2px solid $primary--color;
    }
    &__search {
      position: relative;
      .search__in {
        width: 100%;
        height: 36px;
        padding-left: 12px;
        font-size: 13px;
        border: 1px solid $border--color;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
      }
      .btn--search {
        position: absolute;
        white-space: nowrap;
        width: 60px;
        height: 36px;
        right: 0;
        top: 0px;
        background: $button--color;
        overflow: hidden;
        border-radius: 0 8px 8px 0;
      }
      img {
        width: 20px;
        height: auto;
      }
    }
    &__user {
      display: flex;
      justify-content: space-evenly;
      .user--customer {
        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
      .user--cart {
        position: relative;
        img {
          width: 32px;
          height: 32px;
          background: transparent;
        }
        span {
          position: absolute;
          background-color: $button--color;
          width: 18px;
          height: 18px;
          text-align: center;
          right: -12px;
          border-radius: 50%;
          line-height: 18px;
          color: #fff;
          font-size: 12px;
        }
      }
    }
  }
}
