@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
#CartPage {
  .cart__empty {
    min-height: 546px;
    @include centerItem();
    flex-direction: column;
    &--img {
      width: 100px;
      height: 132px;
    }
    button {
      width: 240px;
      height: 48px;
      background-color: #fcaf17;
      text-align: center;
      line-height: 48px;
      border-radius: 8px;
      border: 1px solid #fff;
      color: #fff;
      outline: none;
      transition-duration: 0.5s;
      cursor: pointer;
    }
    button:hover {
      transform: translate3d(0, -2px, 2px);
    }
  }
  .cart__products {
    min-height: 364px;
    header {
      margin-left: 12px;
      span {
        opacity: 0.6;
      }
    }
    .row {
      margin: 0;
    }
    &--header {
      padding: 6px 0;
      border-top: 1px #dde1ef solid;
      border-bottom: 1px #dde1ef solid;
      text-align: center;
      .col-xl-6 {
        text-align: left;
      }
    }
    &--item {
      padding: 12px 0;
      border-bottom: 1px #dde1ef solid;
      .row {
        padding: 0;
        margin: 0;
      }
      p {
        padding: 0;
        margin: 0;
      }
      &__name {
        font-size: 14px;
        p {
          display: none;
        }
      }

      .btn--remove {
        border: 1px solid #fff;
        font-size: 14px;
        user-select: none;
        background-color: #fff;
        transition-duration: 0.5s;
        .icon__trash {
          float: left;
          margin-top: 3px;
        }
        span {
          margin-left: 4px;
        }
        span:hover {
          color: red;
        }
      }
      &__price,
      &__total {
        font-size: 16px;
        text-align: center;
      }
      &__size {
        span {
          font-size: 14px;
        }
      }
      &__quatity {
        text-align: center;
        button {
          width: 24px;
          border: 1px solid #fff;
          background-color: #fff;
          font-size: 16px;
          user-select: none;
        }
        span {
          margin: 0 6px;
          user-select: none;
        }
      }
    }
    .cart__products--payment {
      padding: 20px 0;
      .row {
        margin: 0;
        padding: 0;
      }
      lord-icon {
        width: 60px;
        height: 60px;
      }
      .payment--title {
        @include centerItem();
        flex-direction: column;
        min-height: 140px;
        p {
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
      .payment--total {
        padding: 24px 0;
        p {
          float: left;
        }
        span {
          float: right;
        }
      }
      .payment--discount {
        float: right;
        span {
          margin: 4px 0;
          float: right;
          border-bottom: 1px solid grey;
        }
        p {
          padding: 0;
          margin: 0;
        }
      }
      button {
        width: 100%;
        height: 48px;
        background-color: #fcaf17;
        border: 1px solid #fff;
        cursor: pointer;
        border-radius: 8px;
        color: #fff;
        transition-duration: 0.5s;
      }
      button:hover {
        transform: translate3d(0, -2px, 2px);
      }
    }
  }
}
