#EditOrderPage {
  position: fixed;
  background-color: #f6ffff;
  left: 240px;
  right: 0;
  top: 0;
  h1 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  form {
    position: relative;
    left: 180px;
    right: 60px;
    tr {
      display: flex;
      justify-content: right;
      padding: 12px 0;
      td {
        input[type="text"] {
          width: 640px;
          margin-left: 111px;
          cursor: pointer;
          height: 32px;
          outline: none;
          border-radius: 4px;
          border: 1px solid rgb(193, 237, 237);
          padding: 0 8px;
        }
      }
      label {
        position: absolute;
        left: 20px;
        margin-top: 6px;
      }
      button {
        width: 120px;
        margin-top: 24px;
      }
    }
  }
}
#EditProductPage {
  background-color: #f6ffff;
  position: fixed;
  left: 240px;
  right: 0;
  top: 0;
  h1 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  form {
    position: relative;
    left: 180px;
    right: 60px;
    tr {
      display: flex;
      padding: 12px 0;
      td {
        input[type="file"] {
          margin-left: 111px;
        }
        input[type="radio"] {
          margin-left: 111px;
        }
        input[type="text"] {
          width: 640px;
          height: 32px;
          margin-left: 111px;
          cursor: pointer;
          outline: none;
          border-radius: 4px;
          border: 1px solid rgb(193, 237, 237);
          padding: 0 8px;
        }
      }
      label {
        position: absolute;
        left: 20px;
        margin-top: 6px;
      }
      .button-btn {
        position: absolute;
        right: 210px;
        button {
          width: 120px;
          margin-top: 24px;
        }
      }
    }
  }
}
