@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
#HomePage {
  overflow: hidden;
  .slick-dots {
    display: none;
  }
  .slick-dots li button {
    display: none;
  }
  .wapper {
    &__img {
      border: 2px solid transparent;
    }
  }
  .sales__list {
    padding: 18px 0;

    .row,
    p {
      padding: 0;
      margin: 0;
    }
    &--item {
      @include centerItem();
      flex-direction: column;
      border-right: 1px solid grey;
      .item--order {
        border-top: 1px solid grey;
        margin: 4px 0;
        font-size: 20px;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        text-transform: uppercase;
      }
      .item--decrease {
        background-color: #0c8796;
        padding: 3px;
        color: #fff;
        font-size: 20px;
      }
      .item--price {
        font-weight: 600;
        font-size: 24px;
      }
    }
    &--discount {
      @include centerItem();
      .item--discount {
        @include centerItem();
        flex-direction: column;
        p {
          font-weight: 600;
          text-transform: uppercase;
          padding: 4px;
        }
        span {
          border-top: 1px solid grey;
          margin: 0 4px;
        }
      }
    }
  }
  .container {
    padding: 8px 0;
    h3 {
      padding: 12px 0;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .home__content {
    ul,
    li {
      padding: 0;
    }
    .row {
      margin: 0;
    }
    padding: 12px 0;
    overflow: hidden;
    &--item {
      @include centerItem();
      flex-direction: column;
      margin: 10px 0;
      p {
        width: 228px;
        margin: 6px;
        padding: 0;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
        overflow: hidden;
        cursor: pointer;
      }
      span {
        width: 228px;
        margin: 0 6px;
        font-size: 16px;
        cursor: pointer;
        color: #f08522;
      }
      .item__list {
        position: relative;
        object-fit: contain;
        .list__img {
          height: 304px;
          width: 228px;
          cursor: pointer;
        }
      }
      .list__img--hover {
        position: absolute;
        height: 304px;
        width: 228px;
        left: 0;
        right: 0;
        top: 0;
        cursor: pointer;
        transition: all 0.8s ease-in;
        opacity: 0;
      }
      .item__list:hover .list__img--hover {
        opacity: 1;
      }
    }
  }
}
