#InfomationAccount {
  .row {
    padding: 0;
    margin: 0;
  }
  .info__edit {
    margin: 6px 0;
    height: 24px;
    input {
      width: 92%;
      border: 1px solid #dde1ef;
      padding-left: 8px;
      padding-right: 2px;
      border-radius: 4px;
    }
    &--title {
      padding-right: 0;
      line-height: 24px;
      text-align: left;
      font-size: 16px;
    }
    &--name {
      letter-spacing: 1px;
      line-height: 24px;
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      letter-spacing: 1.2px;
    }
    &--icon {
      &__check {
        display: flex;
        span {
          margin: 0 4px;
          cursor: pointer;
        }
      }
      width: 10px;
      height: 10px;
      margin-left: -20px;
      cursor: pointer;
    }
  }
}
