@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

#UserPage {
  min-height: 520px;
  background-color: #f8f8f8;
  .row {
    margin: 0;
  }

  .user__header {
    height: 100px;
    span {
      @include centerItem();
      text-align: center;
      line-height: 100px;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fcaf17;
    }
  }
  .user__content {
    padding-bottom: 24px;
    @include centerItem();
    &--list {
      margin-right: 24px;
      background-color: #fff;
      min-height: 480px;
      padding: 12px;
      &__img {
        margin: 18px;
        @include centerItem();
        flex-direction: column;
        .list__img--avatar {
          height: 90px;
          width: 90px;
          border-radius: 50%;
          margin: 6px 0;
        }
        p {
          text-transform: capitalize;
          font-size: 18px;
        }
        button {
          width: 100%;
          border-radius: 8px;
          height: 28px;
          border: 1px solid #fff;
          font-size: 14px;
          background-color: #fcaf17;
          color: #fff;
          text-align: center;
        }
      }
      &__info {
        li {
          margin-left: 18px;
          margin-top: 12px;
          margin-bottom: 12px;
          img {
            margin-right: 8px;
            margin-top: -4px;
          }
          span {
            font-size: 18px;
            cursor: pointer;
          }
        }
        span:hover {
          color: #fcaf17;
        }
      }
    }
    &--detail {
      background-color: #fff;
      margin-left: 24px;
      min-height: 480px;
      padding: 8px 0;
      &__title {
        border-bottom: 1px solid #dde1ef;
        padding: 12px;
        span {
          font-size: 20px;
          color: #fcaf17;
        }
        button {
          float: right;
          width: 100px;
          border-radius: 4px;
          border: 1px solid #fff;
          background-color: #fcaf17;
          color: #fff;
          font-size: 16px;
          box-shadow: 0px 1px 1px 1px #dde1ef;
          height: 32px;
          margin-top: -6px;
        }
      }
      &__content {
        padding: 12px;
        font-size: 14px;
        .users__edit--infomation {
          .row {
            padding: 0;
            margin: 0;
          }
          display: none;
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 10000;
          &--form {
            .icon {
              position: absolute;
              right: 12px;
              top: 8px;
              cursor: pointer;
            }
            height: fit-content;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70vw;
            max-width: 600px;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 24px 12px;
            border-radius: 16px;
            min-height: 45vh;
            max-height: 95vh;
            overflow-y: auto;
            overflow-x: hidden;
            .infomation--form__title {
              border-right: 1.5px solid #dde1ef;
              &--image {
                display: flex;
                justify-content: center;
                padding-bottom: 12px;
                img {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                }
              }
              &--title {
                p {
                  margin: 8px 6px;
                  font-size: 16px;
                  cursor: pointer;
                  transition-duration: 1.2s;
                }
                p:hover {
                  color: #fcaf17;
                }
              }
            }
            .infomation--form__content {
              span {
                margin: 0 24px;
              }
              p {
                user-select: none;
                padding: 6px 0;
                margin: 0 24px;
              }
              &--password {
                input[type="password"] {
                  width: 94%;
                  height: 26px;
                  margin-right: 12px;
                  padding: 0 8px;
                  outline: none;
                  cursor: pointer;
                  border-radius: 4px;
                  border: 1px solid #dde1ef;
                }
                button {
                  width: 106px;
                  height: 32px;
                  align-items: center;
                  float: right;
                  margin-right: 90px;
                  margin-top: 12px;
                  border-radius: 4px;
                  color: #fff;
                  font-size: 16px;
                  border: 1px solid #fff;
                  background-color: #fcaf17;
                  box-shadow: 0px 2px 2px 2px #dde1ef;
                  transition-duration: 1.2s;
                }
                button:hover {
                  transform: translate3d(0, -3px, -2px);
                }
              }
              &--info {
                button {
                  width: 106px;
                  height: 32px;
                  align-items: center;
                  float: right;
                  margin-right: 32px;
                  margin-top: 12px;
                  border-radius: 4px;
                  color: #fff;
                  font-size: 16px;
                  border: 1px solid #fff;
                  background-color: #fcaf17;
                  box-shadow: 0px 2px 2px 2px #dde1ef;
                  transition-duration: 1.2s;
                }
                &--edit {
                  display: flex;
                  input[type="text"] {
                    flex-basis: 80%;
                    height: 26px;
                    margin-right: 12px;
                    padding: 0 6px;
                    outline: none;
                    cursor: pointer;
                    border-radius: 4px;
                    border: 1px solid #dde1ef;
                  }
                  img {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    margin: 0 6px;
                  }
                }
                &--title {
                }
                &--name {
                  font-size: 16px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}
#OrderListPages {
  font-size: 16px;
  .row {
    margin: 0;
    padding: 0;
  }
  .title--empty {
    font-size: 16px;
  }
  .title--list {
    font-size: 18px;
    border-bottom: 1px solid #dde1ef;
    &__name {
      padding: 0 12px;
    }
    &__quantity,
    &__price {
      text-align: center;
    }
  }
  .product--list {
    font-size: 16px;
    margin: 6px 0px;
    &__name {
      padding: 0 12px;
    }
    &__quantity,
    &__price {
      text-align: center;
    }
  }
}
