@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

#UserPage {
  min-height: 520px;
  background-color: #f8f8f8;
  .row {
    margin: 0;
  }

  .user__header {
    height: 100px;
    span {
      @include centerItem();
      text-align: center;
      line-height: 100px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fcaf17;
    }
  }
  .user__content {
    padding-bottom: 24px;
    @include centerItem();
    &--list {
      margin-right: 24px;
      background-color: #fff;
      min-height: 480px;
      padding: 12px;
      &__img {
        margin: 18px;
        @include centerItem();
        flex-direction: column;
        .list__img--avatar {
          height: 90px;
          width: 90px;
          border-radius: 50%;
          margin: 6px 0;
        }
        p {
          text-transform: capitalize;
          font-size: 18px;
        }
        button {
          width: 100%;
          border-radius: 8px;
          height: 28px;
          border: 1px solid #fff;
          font-size: 14px;
          background-color: #fcaf17;
          color: #fff;
          text-align: center;
        }
      }
      &__info {
        li {
          margin-left: 18px;
          margin-top: 12px;
          margin-bottom: 12px;
          img {
            margin-right: 8px;
          }
          span {
            font-size: 14px;
            cursor: pointer;
          }
        }
        span:hover {
          color: #fcaf17;
        }
      }
    }
    &--detail {
      background-color: #fff;
      margin-left: 24px;
      min-height: 480px;
      padding: 8px 0;
      &__title {
        border-bottom: 1px solid #dde1ef;
        padding: 12px;
        span {
          font-size: 14px;
          color: #fcaf17;
        }
      }
      &__content {
        padding: 12px;
        font-size: 14px;
      }
    }
  }
}
