@import "home";
@import "cart";
@import "product";
@import "search";
@import "user";
@import "information";
@import "address";
@import "responesive";
$primary--color: #fcaf17;
$border--color: #dde1ef;
$button--color: #0c8796;
